.login{
	border:3px solid black;
	padding: 10px;
	text-align: center;
}
.registerpage{
	position: absolute;
	top: 95%;
	right: 3%;
}

body {
    margin: 1.5%;
    box-sizing: border-box;
    font-family: Baskerville;
    color: #4d4747;
		text-decoration: none;
}

strong {
  font-weight: bold;
}

img {
      display:flex;
      border:solid #7c1a0f 3px;
      align-content: center;
      max-width: 100%;
      height: auto;
}

img#banner {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Basic Layout */
header {
  /*padding: 1.5%;*/
}

.spread nav {
  padding: 8px;
  padding-left: 0;
	font-family: Arial;
  font-size: 15pt;
	text-decoration: none;
	color:#a32a1d;
}


h1 {
  padding-top: 0.5%;
  color: #7c1a0f;
  font-family: Arial;
  font-size: 24pt;
  font-stretch: expanded;
}

h2 {
  padding-top: 0.25%;
  font-family: Arial;
  font-size: 19pt;
  color: #7c1a0f;
}

h3 {
  padding-top: 0.25%;
  font-family: Arial;
  font-size: 17pt;
  color: #7c1a0f;
}

h4 {
  padding-top: 0.25%;
	font-size: 14pt;
  color: #7c1a0f;
}

h5 {
  padding-top: 0;
  font-size: 12pt;
  color: #7c1a0f;
}

p {
  font-size: 12pt;
}

button:hover {
    opacity: 0.8;
}
.tabs{
	background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 10%;
    transition: 0.3s;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabbed{
	display: none;
	background-color: white;
}

.button{
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	display: block;
	float: left;
	width: 50%;
	height: 10%;
	border: 3px solid lightgrey;
	border-radius: 6px;
	box-shadow: inset 0 0 0 5px lightgrey;
	font-size: 100%;
}

.box{
	background-color: white;
	padding: 5px;
}

select{
	width:100%;
}

option{
	width: 100%;
}


.infoForm{
	position: relative;
	top: 5px;
}

input{
	background-color: lightgrey;
	border-radius: 6px;
}
.area{
	width: 100%;
	height: 40%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	font-size: 75%;
	font-family: serif;
	border: 3px black;
	position: static;
	overflow-y: scroll;
	overflow-x: auto;
	background-color: white;
	padding: 1%
}

footer {
  clear: both;
  /*padding: 1%;*/
}

/*aside ul li {
  margin: 1.5% ;
  line-height: 1;
}*/

hr {
	width: 100%
}

a:link {
	text-decoration: none;
  color:#a32a1d;
}

a:visited {
	text-decoration: none;
  color:#d23423;
}

a:hover {
  text-decoration: underline;
}
